<p class="text-justify">
    Para nosso teste de aptidão, você deve desenvolver uma aplicação web, uma
    API e um aplicativo para Android.
    <strong>
        Você deve utilizar o Entity Framework,
        WebAPI e SQL Server Express (disponível no Visual Studio Community).
    </strong>
</p>

<p>
    Link do download do Visual Studio Community:<br />
    <a href="https://visualstudio.microsoft.com/pt-br/vs/community/" target="_blank">https://visualstudio.microsoft.com/pt-br/vs/community/</a>
</p>

<p class="text-justify">
    A aplicação web em ASP.NET MVC deve disponibilizar um CRUD para cadastro de MENSAGEM DO DIA.<br />
    Em seguida, você deve criar uma API para fornecer a mensagem do dia ao aplicativo mobile.<br />
    O aplicativo mobile deve ser desenvolvido em Xamarin Forms. O aplicativo deve ter o seguinte funcionamento:<br />
</p>

<ul>
    <li class="text-justify">
        Ao ser aberto, deve ser exibida a MENSAGEM DO DIA que será
        armazenada automaticamente no banco de dados local (SQLite).
    </li>
    <li class="text-justify">
        O aplicativo mobile deve disponibilizar uma opção para visualização das
        mensagens do dia armazenadas no banco de dados local.
    </li>
</ul>

<p class="text-justify">
    <strong>Critério de avaliação:</strong> funcionalidades atendidas, qualidade da aplicação e
    tempo de entrega.
</p>

<p class="text-justify">
    <strong>Critério de desempate:</strong> organização do código (princípios SOLID), teste unitário
    e arquitetura de software baseada nos princípios do DDD.
</p>

<hr />

<p class="text-justify">
    <strong>
        Envie os arquivos do código e o script do banco de dados com nome em um
        arquivo ZIP para os e-mails wellingtonnfortes@ugb.edu.br e leodias@ugb.edu.br
        até dia 01/12/2020.
    </strong>
</p>

<hr />

<p class="text-justify">
    “Mostre-nos seu potencial, pois aguardamos você para compor nossa equipe.”
</p>